<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <div class="d-flex" v-bind="attrs" v-on="on">
        <v-icon color="grey darken-4" class="mr-4">{{
          currentApp.icon
        }}</v-icon>
        <v-toolbar-title class="text--primary mr-6">{{
          currentApp.title
        }}</v-toolbar-title>
      </div>
    </template>
    <v-list v-if="availableApps.length > 0">
      <v-list-item
        v-for="item in availableApps"
        :key="item.value"
        :href="item.href"
      >
        <v-icon color="grey darken-4" class="mr-4">{{ item.icon }}</v-icon>
        <v-toolbar-title class="text--primary mr-6">{{
          item.title
        }}</v-toolbar-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  props: {
    current: { type: String, required: true },
  },

  computed: {
    apps() {
      return [
        {
          value: "icms-tools",
          icon: "mdi-tools",
          title: "iCMS Toolkit",
          href: process.env.VUE_APP_TOOLS_URL,
        },
        {
          value: "icms-statistics",
          icon: "mdi-chart-bar",
          title: "iCMS Statistics",
          href: process.env.VUE_APP_STATS_URL,
        },
        {
          value: "icms-monitoring",
          icon: "mdi-pulse",
          title: "iCMS Monitoring",
          href: process.env.VUE_APP_MONITORING_URL,
        },
      ];
    },
    availableApps() {
      return this.apps
        .filter((app) => app.value !== this.current)
        .filter((app) => !!app.href);
    },
    currentApp() {
      return this.apps.find((app) => app.value === this.current);
    },
  },
};
</script>
